# .gitignore

# Python
__pycache__/
*.pyc
*.log
.Python
.env
venv/

# Node.js
node_modules/
build/
.DS_Store

# Docker
*.env

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
.localized
